@CHARSET "ISO-8859-1";

*{
	padding:0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	
}

body{
	margin: 0 auto;
	background:#fff;
	font-family: Helvetica, Arial, Sans-serif;
	line-height: 1.4em;
	font-size: 16px;
	text-align: left;
	clear:both;
}

.bg-background{
	position: relative;
	background-image: url('../imagens/greybackground2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	
	
	
}

#container{
	margin: 0 auto;
	width: 1024px;
	height: 768px;
	
}

#header{
	width: 100%;
	height: 80px;
	
}

#menu{
	width: 100%;
	height:80px;
	

}

#conteudo{
	width: 100%;
	height: 600px;
	float: left;

	
}
	
@media(max-width: 768px){
	.bg-background{
		padding: 200px 0;	
	
	}
	.bg-background h2{
		font-size: 1.8em;
	
	}
	.
}



